*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cell-size:100px;
    --mark-size:calc((var(--cell-size)*0.9))
}

.board {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    align-content: center;
    margin: auto;
      
}

.x::before , .x::after {
    content: "";
    position: absolute;
    height: var(--mark-size);
    width: calc(var(--mark-size)*0.15);
    background-color: black;
    top: 5%;
    right: 45%;
    
}
.cell.x{
    cursor: not-allowed;
}
.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    /* background-color: yellow; */
    border: 1px solid black;
    /* margin: 1px; */
    position: relative;
}

.x::after{
    transform: rotate(45deg);
}

.x::before{
    transform: rotate(-45deg);
}


.cell.circle {
    cursor: not-allowed;
}

.circle::before , .circle::after{
    content: "";
    height: var(--mark-size);
    width: var(--mark-size);
    background-color: black;
    border-radius: 50px;
    right: 5%;
    top: 5%;
    position: absolute;
}

.circle::after{
    right: 15%;
    top: 15%;
    height: calc(var(--mark-size)*.75);
    width: calc(var(--mark-size)*.75);
    background-color: white;
}

.win{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    /* border: 2pc solid black; */
}
